.swiper-slide {
  opacity: 0.3;
}

.swiper-slide-active {
  opacity: 1;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 40px 0;
}

.name-input {
  width: 100%;
}

.radio-group {
  margin: 24px;
  display: block;
  &__item {
    margin-right: 24px;
  }
}

.button {
  text-align: center;
}
